*, *:before, *:after {
font-family: Inter, Arial, Helvetica, sans-serif;
text-shadow: 1px 1px 1px rgba(0,0,0,0.005);
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
-webkit-text-stroke: .025em rgba(51,51,51,0.1);

box-sizing: border-box;
}

body{
    background-color: white;
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.calendar{
    flex: 1;
    flex-direction: column;
    display: flex;
    height: 100vh;
    border-radius: 24px;
    background-color: white;
}

.arrow{
    flex: 10;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

#yearContainer{
    height: 60px;
    background-color: white;
    flex-direction: row;
    display: flex;
}

#year{
    flex: 10;
    text-align: center;
    color: black;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}

#monthContainer{
    height: 60px;
    background-color: #4886FF;
    flex-direction: row;
    display: flex;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#month{
    flex: 1;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}

.days{
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #E76C6A;
    padding-left: 8px;
    padding-right: 8px;
}

.day-label{
    flex: 1;
    font-size: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

#calendar-body{
    flex: 1;
    background-color: white;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    padding: 8px;
    border: 1px solid #DDDDDD;
}

.calendar-date{
    flex: 1;
    display: inline-block;
    width: calc(100% / 7);
    height: calc(100% / 6);
    box-sizing: border-box;
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}

.calendar-date:hover{
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    line-height: 68px;
}

.calendar-date-greyed{
    color: #BBBBBB;
}

.sidebar{
    width: 600px;
    max-width: 35%;
    background-color: #F1F5F8;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    padding: 16px;
    box-sizing: border-box;
}

.title{
    font-size: 1.6em;
    color: #445057;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.datebox{
    margin-top: 16px;
    width: 100%;
    height: 80px;
    background-color: #E76C6A;
    box-sizing: border-box;
    color: white;
    font-size: 1.2em;
    line-height: 60px;
    border-radius: 16px;
    padding: 10px;
}

.event-date{
    font-size: 1.05em;
    padding: 20px 10px 0px 10px;
}

.event{
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    margin-top: 16px;
    padding: 10px;
}

.event-time{
    color: #445057;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 28px;
}

.event-name{
    color: #445057;
    font-size: 1.05em;
    line-height: 28px;
}

.event-roomNumber{
    color: #445057;
    font-size: 0.8em;
    line-height: 28px;
}